<div class="audio-container">
  <audio  #musicplayer>

     </audio>
     <mat-slider
      [(ngModel)]="value"
        min="0"
        max="max"
        aria-label="unit(s)">
      </mat-slider>

</div>

<div class="button-container">
  <button mat-raised-button color="primary" (click)="setAudio(-1)"><mat-icon>skip_previous</mat-icon></button>
  <button mat-raised-button color="primary" (click)="setStop()">  <mat-icon> {{playState}}</mat-icon></button>
  <button mat-raised-button color="primary" (click)="setAudio(1)"><mat-icon>skip_next</mat-icon></button>
</div>
